.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    height: 30px;
}

.header__input {
    display: flex;
    align-items: center;
}

.header__icons {
    display: flex;
    align-items: center;
}
